/* deco */

section .small { font-size: 0.8em; }
section .smaller { font-size: 0.7em; }
section .smallest { font-size: 0.5em; }
section .big { font-size: 1.1em; }
section .bigger { font-size: 1.3em; }
section .biggest { font-size: 1.5em; }

section .muted { color: #636c72; }
section .info { color: #5bc0de; }
section .warning { color: #f0ad4e; }
section .danger { color: #d9534f; }
section .success { color: #5cb85c; }

.reveal .small { font-size: 0.8em; }
.reveal .smaller { font-size: 0.7em; }
.reveal .smallest { font-size: 0.5em; }
.reveal .big { font-size: 1.1em; }
.reveal .bigger { font-size: 1.3em; }
.reveal .biggest { font-size: 1.5em; }

.reveal .muted { color: #636c72; }
.reveal .info { color: #5bc0de; }
.reveal .warning { color: #f0ad4e; }
.reveal .danger { color: #d9534f; }
.reveal .success { color: #5cb85c; }
