$normal: #fff;

$muted: #636c72;
$info: #31708f;
$warning: #8a6d3b;
$danger: #a94442;
$success: #3c763d;

$muted-bg: #c0c0c0;
$info-bg:  #d9edf7;
$warning-bg: #fcf8e3;
$danger-bg: #f2dede;
$success-bg: #dff0d8;

$muted-b: #636c72;
$info-b: #5bc0de;
$warning-b: #f0ad4e;
$danger-b: #d9534f;
$success-b: #5cb85c;

$framed-b: rgba(255, 255, 255, 0.05);
$boxed-b: rgba(255, 255, 255, 0.05);
$sided-b: rgba(255, 255, 255, 0.2);

$sided-bg: rgba(255, 255, 255, 0.05);

$quoted-bg: rgba(255, 255, 255, 0.05);

$quoted-before-color: rgba(255, 255, 255, 0.15);
$quoted-after-color: rgba(255, 255, 255, 0.15);
