/*********************************************

pi2pie.io

*********************************************/

@use 'components/_properties' as *;
@use 'components/_position' as *;
@use 'components/_display' as *;
@use 'components/_skin' as *;
@use 'components/_img' as *;
@use 'components/_deco' as *;
@use 'components/_text' as *;
@use 'components/_border' as *;
@use 'components/_layout' as *;
@use 'components/_flex' as *;
@use 'components/_spacing' as *;
@use 'components/_transform' as *;

section *,
body .reveal .slides section .fragment {
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

section pre code {
  overflow: hidden !important;
}
