@import url(./light.css);
@import url(./utils-css/utils.scss);
@import url(./utils-css/highlightjs/tokyo-night-dark.css);

:root {
  --logo-size: 64px;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  }

  .layout-horizon {
    display: flex; flex-flow: row;
  }

  .layout-vertical {
    display: flex; flex-flow: column;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .reveal .m-0, .reveal .m-0 img {
    margin: 0;
  }

  .reveal .m-auto, .reveal .m-auto img {
    margin: auto;
  }

 code {
   /* - */
  }

 pre {
    background-color: #1a1b26; /* this property should as same as the setting in hljs */
    border-radius: 12px;
    padding: 36px;

  }

  .promo-banner {
    display: inline-flex;
    position: absolute;
    top: 92%;
    width: 100vw;
    height: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fcfcfc;
    font-family: sans-serif;
    text-align: center;
    z-index: 20;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.promo-link {
    position: relative;
}
.promo-link img {
  width: var(--logo-size);
}

